.navbar {
  padding: 1rem 4rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.02);
}

.nav-link {
  padding: 0px;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: black;
}

.logo-container {
  display: inline-flex;
}

a {
  color: black;
}

p {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0px;
}

h3 {
  margin: 0px;
}

.row,
.col {
  margin: 0px;
  padding: 0px;
}

.square-box-container {
  padding: 1rem 25%;
}

.square-box,
.square-box-active {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  width: 6rem;
}

.square-box {
  background-color: #d5deff;
  color: #2e5bff;
}

.square-box-active {
  background-color: #2e5bff;
  color: #fff;
}





.left-nav,
.right-nav {
  padding: 1rem;
}

.right-nav {
  border: 1px solid #d5deff;
}

.stepper-container {
  border: 1px solid #d5deff;
}

.step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: cream;
}

.v-stepper {
  position: relative;
}

.step .circle {
  background-color: #d5deff;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-left: 0.7rem;
  display: inline-block;
}

.step .icon {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin-left: 0rem;
  display: inline-block;
}

.step .line {
  top: 23px;
  left: 15px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #000;
}

.step.completed .circle {
  visibility: visible;
  background-color: rgb(6, 150, 215);
  border-color: rgb(6, 150, 215);
}

.step.completed .line {
  border-left: 2px dashed #000;
}

.step.active .circle {
  visibility: visible;
  border-color: rgb(6, 150, 215);
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  top: 0;
  height: 150%;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1;
}

.content.active {
  margin-left: 20px;
  display: inline-block;
  width: 100%;
  background: #e6ebff;
  padding: 0.3rem;
  color: #33ac2e;
}

.content {
  margin-left: 20px;
  display: inline-block;
  width: 100%;
  border: 1px solid #e6ebff;
  padding: 0.5rem;
}

.date-time {
  float: right;
}

.content p {
  font-size: 12px;
}

thead tr {
  border: none;
}

tr {
  border: 1px solid #e6ebff;
}

tbody {
  display: block;
  height: 330px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em)
}

table {
  width: 400px;
}

.blank-table-row {
  height: 0.3rem;
}